In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [5]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at 
# Thomas High School and replace them with NaN. 
#student_data_df = (student_data_df.loc[student_data_df["school_name"] == "Thomas High School"]) 
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"), "reading_score"] = np.nan

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,NaN,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74
39146,39146,Michael Carroll,M,9th,Thomas High School,NaN,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,84
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75